<h1>Todo List</h1>

<ul>
  <% @items.each do |item| %>
    <li><%= item %><a href="/home/remove?item=<%= item %>">delete</a></li>
  <% end %>
</ul>

<%= form_tag("/home/add", method: "post") do %>
  <%= label_tag(:item, "Item to add:") %>
  <%= text_field_tag(:item) %>
  <%= submit_tag("Add") %>
<% end %>
